[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "nvim/gab.lazy"]
	path = nvim/gab.lazy
	url = git@github.com:GabrieleBocchi/gab.lazy.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "neofetch/neofetch-themes"]
	path = neofetch/neofetch-themes
	url = https://github.com/Chick2D/neofetch-themes
