[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "nvim/renso.lazy"]
	path = nvim/renso.lazy
	url = https://github.com/ardubev16/renso.lazy
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "neofetch/neofetch-themes"]
	path = neofetch/neofetch-themes
	url = https://github.com/Chick2D/neofetch-themes
