[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "nvim/gab.lazy"]
	path = nvim/gab.lazy
	url = git@github.com:GabrieleBocchi/gab.lazy.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule "neofetch/neofetch-themes"]
	path = neofetch/neofetch-themes
	url = git@github.com:Chick2D/neofetch-themes.git
[submodule "zsh/antidote"]
	path = zsh/antidote
	url = git@github.com:mattmc3/antidote.git
