sourceDir = "{{ .chezmoi.homeDir }}/.dotfiles"

{{ $families := fromYaml (include ".chezmoidata/families.yaml") -}}
{{ $family := "" -}}
{{ $pm := "" -}}
{{ range $name, $info := $families.families -}}
{{ if and (eq $family "") (has $.chezmoi.osRelease.id $info.distros) }}{{ $family = $name }}{{ $pm = $info.pm }}{{ end -}}
{{ end -}}
{{ if eq $family "" -}}
{{/* No family matched: fall back to detecting the installed PM (common only) */ -}}
{{ range $name, $info := $families.families -}}
{{ if and (eq $pm "") (lookPath $info.pm) }}{{ $pm = $info.pm }}{{ end -}}
{{ end -}}
{{ end -}}
{{ if eq $pm "" }}{{ fail "Unsupported system (no supported package manager found)" }}{{ end -}}

[data]
  pm       = "{{ $pm }}"
  family   = "{{ $family }}"
  hasGUI   = {{
    or
      (gt (len (glob "/usr/share/xsessions/*")) 0)
      (gt (len (glob "/usr/share/wayland-sessions/*")) 0)
  }}
  hasGnome = {{ ne (lookPath "gnome-shell") "" }}
